nav {
    background: #222;
    width: 100%;
    height: 55px;
    background: #1f252d;
    position: sticky;
    top: -1px;
    z-index: 99999;
}
a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    @media screen and (max-width: 992px){
        padding-left: 0
    }
    .left-side{
        display: flex;
    }
    .right-side{
        display: flex;
    }
    .profile{
        .profile-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
   
        }
        .profile-name{
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            .user-tag{
                font-size: 10px;
            }
        }
        .profile-picture{
            img{
                width: 40px;
            }
            overflow: hidden;
            width: 40px;
            height: 40px;
            background: grey;
            border-radius: 50%;
        }
    }
}
.logo {
    font-size: 20px !important;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}
.wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
}
